.c-menu-lateral {
    --c-menu-logo-font-size: var(--font-size-l);
    --c-menu-option-titulo-font-size: var(--font-size-m);
    --c-menu-option-subtitulo-font-size: var(--font-size);

    --c-menu-font-family: var(--font-family-arial);

    --c-menu-option-color-titulo-warning: var(--color-red-3);
    --c-menu-option-color-subtitulo-warning: var(--color-red-4);
    --c-menu-option-titulo-color: var(--color-grey-1);
    --c-menu-option-subtitulo-color: var(--color-grey);

    --c-menu-background-color: var(--color-grey-9);
    --c-menu-option-background-color-hover: var(--color-grey-8);
    --c-menu-option-background-color-warning: var(--color-red-9);
    --c-menu-option-background-color-warning-hover: var(--color-red-8);

    --c-menu-padding-exterior: var(--padding-4);
    --c-menu-padding-interior: var(--padding-2);

    --c-menu-width: var(--width-300);

    display: grid;
    grid-template-rows: auto 1fr auto;
    
    width: var(--c-menu-width);
    height: 100vh;
    top:0;
    left:0;
    background-color: var(--c-menu-background-color);
    padding:var(--c-menu-padding-exterior);
    font-family: var(--c-menu-font-family);
    
    &__logo {
        font-size: var(--c-menu-logo-font-size);
        padding: var(--c-menu-padding-exterior);
        background-color: var(--c-menu-background-color);
        width: var(--c-menu-width);
    }

    &__opcion {
        display: flex;
        flex-direction: row;
        padding: var(--c-menu-padding-exterior);
        margin: var(--c-menu-padding-exterior);

        &-icono{
            padding: var(--c-menu-padding-exterior);
        }
        &-text{
            padding: var(--c-menu-padding-interior);
            &--titulo{
                font-weight: bold;
                font-size: var(--c-menu-option-titulo-font-size);
                color: var(--c-menu-option-titulo-color);
                
                &--warning{
                    color: var(--c-menu-option-color-titulo-warning);
                }
            }
            &--subtitulo{
                font-size: var(--c-menu-option-subtitulo-font-size);
                color: var(--c-menu-option-subtitulo-color);

                &--warning{
                    color: var(--c-menu-option-color-subtitulo-warning);
                }
            }
        }
        
        
        &--warning{
            background-color: var(--c-menu-option-background-color-warning);
            color: var(--c-menu-option-color-titulo-warning);
            @include border(var(--border-2),var(--border-style-solid),var(--c-menu-option-background-color-warning-hover),var(--border-radius-2));

            :hover{
                background-color: var(--c-menu-option-background-color-warning-hover);
            }
        }
        &--info {
            /*Se aplica por separado al icono y al div*/
            :hover{
                background-color: var(--c-menu-option-background-color-hover);
                @include border(var(--border-1),var(--border-style-solid),var(--c-menu-option-background-color-hover),var(--border-radius-2));
            }
        }
    }

    &__footer {
        font-size: var(--c-menu-logo-font-size);
        padding: var(--c-menu-padding-exterior);
        background-color: var(--c-menu-background-color);
        width: var(--c-menu-width);
    }
}