div{
    margin:1px;
    display: inline-block;
    height: 50px;
    width: 10%;
}
/*Color principal*/
.color5{
    background-color: hsl(169, 50%, 50%);
}
/*Colores claros*/
.color6{
    background-color: hsl(169,55%,60%);
}
.color7{
    background-color: hsl(169,60%,70%);
}
.color8{
    background-color: hsl(169,70%,80%);
}
.color9{
    background-color: hsl(169,90%,90%);
}
/*Colores oscuros*/
.color4{
    background-color: hsl(169,55%,40%);
}
.color3{
    background-color: hsl(169,60%,30%);
}
.color2{
    background-color: hsl(169,70%,20%);
}
.color1{
    background-color: hsl(169,90%,10%);
}

/*Botones*/
.fila{
    width: 100%;
    padding: 5px;
}

